
src/frontend_servers/tosDjango/.idea/workspace.xml

src/frontend_servers/tosDjango/.idea/misc.xml

src/frontend_servers/tosDjango/.idea/modules.xml

src/frontend_servers/tosDjango/.idea/tosDjango.iml

src/frontend_servers/tosDjango/.idea/vcs.xml

*.pyc
